body{
  background: #EEC626;
}

#container{
  width: 1024px;
  margin: 0 auto;
}

#heading{
  width: 1024px;
  height: 250px;
  text-align: center;
  display: flex;
}

.scoreboard{
  font-size: 28px;
  color: #ffffff;
  line-height: 16px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 30px;
}

#logo{
  font-size: 40px;
  color: #ffffff;
  line-height: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600px;
}

#announcement{
  color: #b666d2;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#the-playground{
 background: url(images/playground.jpg);
 background-size: 1024px;
 height: 460px;
 display: flex;
}

#lili{
  width: 824px;
  position: relative;
}

#topjump{
   position: absolute;
   top: 168px;
   left: 585px;
   z-index: 3;
   visibility: hidden;
}

#ljump{
   position: absolute;
   top: 230px;
   left: 630px;
   z-index: 1;
   visibility: visible;
}

#ljumpup{
   position: absolute;
   top: 200px;
   left: 630px;
   z-index: 1;
   visibility: hidden;
}

#botjump{
   position: absolute;
   top: 280px;
   left: 600px;
   z-index: 2;
  visibility: visible;
}

#jumpButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 0 30px 0;
}

#froggy{
  background-color: inherit;
  color: #ffffff;
  border-color: #ffffff;
  width: 200px;
}
